p{
    color:blueviolet;
}

a{
    color:brown;
}
a{
    text-decoration:none;
}

table, th, td {
    border: 1px solid brown;
    
  }

th,td{
    background-color:aliceblue;
}

#id1{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.class1{
    border-radius: 50%;
}